$gray: #666

body
  background-color: white
  color: #1a1a1a
  font-family: Source Sans Pro, system
  font-size: 16px

.header
  .strip
    height: 14px
    background-color: #82FA32

  .logo
    padding: 32px 0 0 32px

    img
      max-width: 52px

  .title
    padding-top: 64px

    h3
      margin: 0
      padding: 0
      font-size: .8rem
      text-align: center
      text-decoration: line-through
      text-decoration-color: red
      text-transform: uppercase
      font-weight: light

    h1
      margin: 4px auto 0 auto
      width: 90%
      padding: 0
      background-color: black
      color: white
      font-size: 2rem
      font-variant: small-caps
      text-align: center
      font-style: italic

    h2
      margin: 0
      padding: 0
      color: $gray
      font-size: 1.4rem
      text-align: center
      font-weight: lighter

.content
  padding-top: 48px

  td
    width: 50%

    &:nth-child(1)
      padding-right: 4px
      border-right: 1px dotted $gray

    &:nth-child(2)
      padding-left: 4px

  .dossier
    img
      max-width: 52px

.footer
  .fuse
    position: relative
    left: calc(50% - 7px)
    top: -10px
    font-size: 1.05rem
    color: $gray
    text-align: left

  .sign-off
    margin: 48px 0 12px 0
    color: $gray
    font-size: .7rem
    text-align: center
